<style>
.button-group {
  position: relative;
  display: inline-block;
  margin: 1rem 0; 
}

  .button-group button + button {
    margin-left: 5px; 
}


.subheader {
    font-weight: 500;
    font-size: 1.3rem;
}
@media screen and (max-width: 32em) {
.callout.intro {
    font-size: 0.9em;
    line-height: 1.2;
}

.subheader {
    font-weight: 500;
    font-size: 0.9rem;
}
}

@media screen and (min-width: 32em) {
.titleblock {
    padding-top: 5rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-weight: 500;
    font-size: 1.2rem;
}

.callout.intro p {
    color: #222266;
    font-size: 0.95em;
    line-height: 1.4;
    padding-left: 2em;
    padding-right: 2em;

}
.callout.intro {
    margin-top: 2em;
    margin-bottom: 1.5em;
}
}

#installers {
    border-color: #fff;
}

#installers th {
    text-align:  center;
}

#installers thead, #installers tbody {
    border-color: #fff;
}

#installers tr.even, #installers tr.alt, #installers tr:nth-of-type(even) {
    background: #fff;
}

#installers thead {
    background: #fff;
}
#installers .xbutton {
    background-color: #ffffff;
    border-color: #000000;
    color: #222;
}

.nightly-build {
    background: #ff973e;
}

.stable-release {
    background: #2fbb01;
}

.footer-text {
    font-size: smaller;
    font-style: oblique;
    line-height: 1.4;
    color: #666;
}

a {
    color: #0069AD;
    font-weight: 450;
}

a:hover {
    text-decoration: underline;
}
.callout {
    background:  rgba(200,200,200,0.25);
    border-color:  rgba(100,100,100,0.25);

}

a.button:hover {
      text-decoration: none;
  
}
#installers .button .header {
    font-size: 1.1rem;
    line-height: 1.2;
    font-weight: 600;
}

#installers .button {
    font-size: 0.8rem;
}

hr.footer-separator {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

ul {
    line-height: 1.4;
}
</style>