<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slicer4 Download</title>
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="/static/css/foundation/foundation.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>
<div class="row">
    <div class="small-4 medium-5 columns">
        <img src="/static/img/slicer-logo-500.png"/>
    </div>
        <div class="small-8 medium-7 columns titleblock">

        <h1>Download Slicer4</h1>
        <div class="subheader">the free cross-platform open-source medical image processing and visualization system</div>
    </div>
</div>

<div class="row spacer">
</div>
<div class="row">
    <div class="medium-12 columns">
        <div class="callout intro">
            <p>You are one click away from downloading 3D Slicer, a free and open-source platform for analyzing and understanding medical image data. Created through multiple grants from the US National Institutes of Health (NIH) over almost two decades, Slicer brings powerful medical image processing, visualization, and data analysis tools within reach of everyone.</p>
            <p>Slicer is built and tested on many hardware and software platforms. 3D Slicer runs on modern Windows, Mac OS X (10.7 and up), and a variety of Linux distributions.</p>
    </p>
</div>
            <h2>Installers</h2>
        <table id="installers">
            <thead>
                <tr>
                    <th width="200"></th>
                    <th width="225">Windows</th>
                    <th width="225">Mac OS X</th>
                    <th width="225">Linux</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <th>Stable Release<br /><span class="table-subheader"><a href="http://slicer.kitware.com">older releases</a></span></th>
                <td><a href="{{R.win.release.download_url}}" class="button expanded hollow">
                        <span class="header">version {{R.win.release.version}}</span>
                        <br/>revision {{R.win.release.revision}}
                        <br/>built {{R.win.release.build_date_ymd}}
                    </a>
                </td>
                <td><a href="{{R.macosx.release.download_url}}" class="button expanded hollow">
                        <span class="header">version {{R.macosx.release.version}}</span>
                        <br/>revision {{R.macosx.release.revision}}
                        <br/>built {{R.macosx.release.build_date_ymd}}
                    </a>
                </td>
                <td><a href="{{R.linux.release.download_url}}" class="button expanded hollow">
                        <span class="header">version {{R.linux.release.version}}</span>
                        <br/>revision {{R.linux.release.revision}}
                        <br/>built {{R.linux.release.build_date_ymd}}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Nightly Build</th>
                <td><a href="{{R.win.nightly.download_url}}" class="button expanded hollow warning">
                        <span class="header">version {{R.win.nightly.version}}+</span>
                        <br/>revision {{R.win.nightly.revision}}
                        <br/>built {{R.win.nightly.build_date_ymd}}</a></td>
                <td><a href="{{R.macosx.nightly.download_url}}" class="button expanded hollow warning">
                        <span class="header">version {{R.macosx.nightly.version}}+</span>
                        <br/>revision {{R.macosx.nightly.revision}}
                        <br/>built {{R.macosx.nightly.build_date_ymd}}</a></td>
                <td><a href="{{R.linux.nightly.download_url}}" class="button expanded hollow warning">
                        <span class="header">version {{R.linux.nightly.version}}+</span>
                        <br/>revision {{R.linux.nightly.revision}}
                        <br/>built {{R.linux.nightly.build_date_ymd}}</a></td>
            </tr>
        </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="medium-12 columns">
            <h2>Resources</h2>
        </div>
</div>
<div class="row">
    <div class="medium-4 columns">
        <h3>For everyone</h3>
        <ul>
            <li><a href="http://www.slicer.org/">Slicer home</a></li>
            <li><a href="http://www.slicer.org/slicerWiki/index.php/Main_Page">Slicer wiki</a></li>
            <li><a href="http://wiki.slicer.org/slicerWiki/index.php/Help">General help</a></li>
            <li><a href="http://www.slicer.org/slicerWiki/index.php/Documentation/Nightly/Report_a_problem">Reporting problems</a></li>
            <li><a href="http://wiki.slicer.org/slicerWiki/index.php/Documentation/Release/Acknowledgments">Acknowledgements</a></li>
            <li><a href="http://www.slicer.org/slicer3-downloads/">Slicer3 download</a></li>
            <li><a href="http://wiki.slicer.org/slicerWiki/index.php/License">License</a></li>
            <li><a href="http://wiki.slicer.org/slicerWiki/index.php/Contact">Contact us</a></li>


        </ul>
    </div>
    <div class="medium-4 columns">
        <h3>For users</h3>
        <ul>
            <li><a href="http://www.slicer.org/slicerWiki/index.php/Documentation/UserTraining">Training and tutorials</a></li>
            <li><a href="http://www.slicer.org/slicerWiki/index.php/Documentation/Release">User documentation</a></li>
            <li><a href="http://www.slicer.org/pages/Slicer_Community">Slicer in use</a></li>
            <li><a href="http://massmail.spl.harvard.edu/mailman/listinfo/slicer-users">User email list</a></li>
        </ul>
    </div>
    <div class="medium-4 columns">
        <h3>For developers</h3>
        <ul>
            <li><a href="http://www.slicer.org/pages/DeveloperOrientation">Development overview</a></li>
            <li><a href="http://www.slicer.org/slicerWiki/index.php/Documentation/Nightly/Developers/Build_Instructions">Building from source</a></li>
            <li><a href="http://slicer.cdash.org/index.php?project=Slicer4">Quality dashboard</a></li>
            <li><a href="http://massmail.spl.harvard.edu/mailman/listinfo/slicer-devel">Developer email list</a></li>
            <li><a href="http://download.slicer.org/download-stats">Download statistics</a></li>

        </ul>
    </div>
</div>
<footer>
<div class="row">
    <div class="medium-12 columns">
        <hr class="footer-separator"/>
        <p class="footer-text">Content of this site is Copyright BWH and 3D Slicer contributors, unless otherwise noted. Contact webmaster @ bwh.harvard.edu for questions about the use of this site's content.</p>
    </div>
</div>
</footer>
  <script src="/static/js/foundation/jquery.min.js"></script>
  <script src="/static/js/foundation/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>

